@import url('../../style_vars/page_vars.css');

.footer_container {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
}

.footer_container .header1 {
    color: #fcb900;
    text-align: center;
    font-size: 3rem;
}

.logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer_container .logo_image {
    padding: 1rem;
    width: 4.5rem;
    background-color: rgb(82, 117, 181);
    border: 2px solid var(--bg2-color);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.footer_menu {
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer_menu .headerMenuItem {
    color: #005eb8;
}

.copyright {
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    .footer_menu {
        gap: 0.9rem;
    }
}