:root {
    --header-menu-background: #fff;
    --header-menu--text-color: #000;
    --header-menu-border: #ccc;
    --header-menu-border-radius: 0.5em;
    --header-menu-padding: 1rem;
    --header-menu-title-font-size: 1.75rem;
    --header-menu-text-font-size: 1.3rem;
    --header-menu-gap: 30px;
    --header-menu-font-weight: 750;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

.headerMenuContainer {
    left: 0;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    background-color: #384670;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerTitle {
    padding-left: 2rem;
    text-align: center;
    max-width: 300px;
    color: var(--header-menu-text-color);
    font-size: var(--header-menu-title-font-size);
    font-weight: var(--header-menu-font-weight);
    transition: all 0.2s ease-in-out;
}

.headerTitle:hover {
    opacity: 0.5;
}


.headerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: var(--header-menu-gap);
    padding-right: var(--header-menu-padding);
    height: 5%;
}

.headerMenuItem {
    font-size: var(--header-menu-text-font-size);
    font-weight: var(--header-menu-font-weight);
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.2rem;
    padding: 0.4rem;
}

.headerMenuItem:hover {
    text-decoration-color: rgb(92, 178, 200);
}

.headerMenuItem:active {
    transform: scale(.8);
}

@media (max-width: 968px) {
    .headerMenu {
        padding-right: 2rem;
    }

    .headerMenuItem {
        text-align: center; 
    }
}

@media (max-width: 568px) {
    .headerMenu {
        width: 100%;
        justify-content: center;
        flex-direction: row; 
        padding-right: 0;
    }

    .headerMenuItem {
        text-align: center; 
    }
}