:root {
    --main-color: white;
    --bg-color: white;
    --text-color: #005eb8;
    --bg2-color: #fcb900;
    --bg3-color: #00a9e0;
    --bg4-color: #b4d9e5;
}

.searchbar_container {
    display: flex;
    width: 20rem;
    height: fit-content;
}

.search_toggle_button {
    width: 5rem;
    height: 3rem;
    background-color: transparent;
    border: 2px solid white;
    font-size: 0.9rem;
    font-weight: 700;
}

.searchbar_opened {
    width: 90%;
    background-color: aliceblue;
    color: black;
    border: none;
    font-weight: 600;
    padding: 0.6rem;
}

.searchbar_closed {
    display: none;
}

