:root {
    --header-menu-background: #fff;
    --header-menu--text-color: #000;
    --header-menu-border: #ccc;
    --header-menu-border-radius: 0.5em;
    --header-menu-padding: 1rem;
    --header-menu-title-font-size: 1.7rem;
    --header-menu-text-font-size: 1.2rem;
    --header-menu-gap: 30px;
    --header-menu-font-weight: 750;
    --main-color: #384670;
    --bg-color: white;
    --text-color: #005eb8;
    --bg2-color: #fcb900;
    --bg3-color: #00a9e0;
    --bg4-color: #b4d9e5;
}

.page_container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 20rem);
    z-index: 1;
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: center;
}

.header1 {
    color: var(--text-color);
    font-weight: 800;
    transition: all 0.1s ease-in-out;
}

.header1:hover {
    color: var(--bg3-color);
}

.header2 {

}

.text {

}

button {

}

table {
    color: black;
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}