@import url('../../style_vars/page_vars.css');

.page_container {
    background-color: aliceblue;
    position: relative;
    width: 80%;
    min-height: calc(100vh - 20rem);
    height: fit-content;
    z-index: 1;
    margin-top: 8rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    padding: 0.01rem 1.5rem 2.5rem 1.5rem;
    box-shadow: 0 0 3px 0px var(--text-color);
}

.header1 {
    color: var(--text-color);
    font-weight: 800;
    transition: all 0.1s ease-in-out;
}

.header2 {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
}

.header3 {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 800;
}

.header1:hover {
    color: var(--bg3-color);
}

.header2:hover { 
    color: var(--bg3-color);
}

.text {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 550;
}

button {

}