@import url('../../style_vars/page_vars.css');

.player_button_container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid var(--bg2-color);
    border-bottom: 2px solid var(--bg2-color);
}

.player_button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: 4.5rem;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}

[data-theme="dark"] .player_button {
    color: white;
}

.player_button:hover {
    color: var(--text-color);
    background-color: #b4d9e580;
    box-shadow: 0 2px 0px 0px var(--bg2-color);
}

[data-theme="dark"] .player_button:hover {
    color: white;
}

.player_info_container {
    margin-left: 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_name {
    width: 13rem;
    text-align: left;
    font-weight: 800;
    font-size: 1rem;
}
.player_school {
    width: 13rem;
    text-align: left;
    font-weight: 600;
    font-size: .8rem;
}

.player_profile_image {
    width: 2rem;
    border: 1px solid aliceblue;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 0.4rem;
    border-radius: 50%;
    margin-left: 1rem;
    box-shadow: 0 0 3px 0.2px var(--bg4-color);
}

[data-theme="dark"] .player_profile_image {
    background-color: white;
}

.chart_container {
    transform: scale(.9);
}

@media screen and (max-width: 1200px) {
    .player_button_container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 1000px) {
    .player_button_container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 900px) {
    .player_button_container {
        grid-template-columns: repeat(1, 1fr);
    }
}