@import url('../../style_vars/page_vars.css');

.sport_detail_container {

}

.sport_description {
    font-size: 1.1rem;
    color: var(--text-color);
}

.sport_info p {
    color: var(--text-color);
}

.sport_detail_image {
    width: 5rem;
}