@import url('../../style_vars/page_vars.css');

.sports_container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid var(--bg2-color);
    border-bottom: 2px solid var(--bg2-color);
}

.sport_button {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: 10rem;
    height: 2.3rem;
    background-color: var(--text-color);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.568);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    /* border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black; */
    transition: all 0.3s ease-in-out;
}

.button_icon {
    width: 1.3rem;
}

.sport_button:hover {
    color: var(--text-color);
    background-color: #b4d9e5;
    box-shadow: 0 2px 0px 0px var(--bg2-color);
}

@media screen and (max-width: 1200px) {
    .sports_container {
        grid-template-columns: repeat(4, 4fr);
    }
}

@media screen and (max-width: 1000px) {
    .sports_container {
        grid-template-columns: repeat(3, 3fr);
    }
}

@media screen and (max-width: 700px) {
    .sports_container {
        grid-template-columns: repeat(2, 2fr);
    }
}